@model IEnumerable<SupermarketProjectMVC.Models.Category>

@{
    ViewData["Title"] = "Store";
}
<div style="width: 100%;
        min-height: 100vh ; background:url('Images/cart.jpg') no-repeat;
        background-size: cover;
        ;
">

<h2>Browse Category</h2>
<p>

    Select from @Model.Count()
    categories:
</p>
<div style="        overflow: auto;
        width: 100%;
        
"; display: flex;>

    @foreach (var category in Model)
    {
    <div style="border: 0px solid black;
        float: left;
        width: 30%;
        height: 25vh;
        text-align: center;
        border-radius:5%;
        vertical-align: middle;
        background-color: rgba(154,160,185,0.5); 
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 18px;
    ">

                    <a href="@Url.Action("Browse" , new { category = category.Name })">
                        @Html.Partial("_CategoryItem", category)
                    </a>
                    @*@Html.ActionLink(item.Title, "Details", new { id = item.ItemId })*@

        </div>

        @*@Html.ActionLink(category.Name, "Browse", new { category = category.Name })*@

    }

</div>
    </div>
