@model IEnumerable<SupermarketProjectMVC.Models.Category>

@{
    ViewData["Title"] = "Store";
}
<div style="        width: 100%;
        height 100vh ; background:url('Images/shop.png') no-repeat;
        background-size: cover;
        ;
">

<h2>Browse Category</h2>
<p>

    Select from @Model.Count()
    categories:
</p>
<div style="        overflow: auto;
        width: 100%;
        
"; display: flex;>

    @foreach (var category in Model)
    {
    <div style="border: 1px solid black;
        float: left;
        width: 30%;
        height: 25vh;
        text-align: center;
        vertical-align: middle;
        box-shadow: 0 5px 10px rgba(154,160,185,.05);
        border-radius: 5%;
        background-color: #449488; align-items: center;
        justify-content: center;
        display: flex;
        margin: 18px;
    ">

                    <a href="@Url.Action("Browse" , new { category = category.Name })">
                        @Html.Partial("_CategoryItem", category)
                    </a>
                    @*@Html.ActionLink(item.Title, "Details", new { id = item.ItemId })*@

        </div>

        @*@Html.ActionLink(category.Name, "Browse", new { category = category.Name })*@

    }

</div>
    </div>
