@model List<SupermarketProjectMVC.Models.Item>

@{
    ViewData["Title"] = "Browse the Items";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />



    <div class="wrapper">
        @foreach (var item in Model)
        {

            <div style="color:black">
                <a href="@Url.Action("Details" , new { id = item.ItemId })">
                    @Html.Partial("_SingleItem", item)
                </a>
                @*@Html.ActionLink(item.Title, "Details", new { id = item.ItemId })*@
            </div>
        }
    </div>
<br />
<br />
<br />

<div>
    <a asp-action="Index">Back to List</a>
</div>